@model Sitecore.Mvc.Presentation.RenderingModel

@{ 
    Layout = null;
}

@{ 
    
}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
</head>
<body>



    <div class="row">


        <div class="medium-6 column">

            <ul class="social-nav menu">
                <li><a href="#"><i class="ico-">Instagram</i></a></li>
                <li><a href="#"><i class="ico-">Twitter</i></a></li>
                <li><a href="#"><i class="ico-">Facebook</i></a></li>
                <li><a href="#"><i class="ico-">LinkedIn</i></a></li>
            </ul>

        </div>

        <div class="medium-6 column">

            <ul class="account-nav menu">
                <li><a href="#"><span>Sign In</span></a></li>
                <li class="account"><a href="#"><span>Sign Up</span></a></li>
            </ul>

        </div>


    </div>



    <div class="row">


        <header class="header">

            <div class="top-bar">
                <div class="top-bar-left">
                    <ul class="dropdown menu" data-dropdown-menu>
                        <li class="menu-text">Site Title</li>
                        <li>
                            <a href="#">One</a>
                            <ul class="menu vertical">
                                <li><a href="#">One</a></li>
                                <li><a href="#">Two</a></li>
                                <li><a href="#">Three</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Two</a></li>
                        <li><a href="#">Three</a></li>
                    </ul>
                </div>

                <div class="top-bar-right">
                    <ul class="menu">
                        <li><input type="search" placeholder="Search"></li>
                        <li><button type="button" class="button">Search</button></li>
                    </ul>
                </div>
            </div><!-- /.top-bar -->

        </header>


    </div>



    <div class="main-container">


        <div class="row">


            <div class="medium-12 columns">

                <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>

                    <ul class="orbit-container">
                        <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
                        <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
                        <li class="is-active orbit-slide">
                            <img class="orbit-image" src="assets/img/orbit/01.jpg" alt="Space">
                            <figcaption class="orbit-caption">Space, the final frontier.</figcaption>
                        </li>
                        <li class="orbit-slide">
                            <img class="orbit-image" src="assets/img/orbit/02.jpg" alt="Space">
                            <figcaption class="orbit-caption">Lets Rocket!</figcaption>
                        </li>
                        <li class="orbit-slide">
                            <img class="orbit-image" src="assets/img/orbit/03.jpg" alt="Space">
                            <figcaption class="orbit-caption">Encapsulating</figcaption>
                        </li>
                        <li class="orbit-slide">
                            <img class="orbit-image" src="assets/img/orbit/04.jpg" alt="Space">
                            <figcaption class="orbit-caption">Outta This World</figcaption>
                        </li>
                    </ul>

                    <nav class="orbit-bullets">
                        <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
                        <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
                        <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
                        <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
                    </nav>

                </div><!-- /.orbit -->

            </div>


        </div>


    </div><!-- /.main-container -->



    <div class="row">


        <!-- left-column -->
        <div class="medium-8 column">


            <div class="row">

                <div class="medium-6 column">
                    <h3>So How Does This Work Anyway?</h3>
                    <p>With Trustfund’s secure social funding platform, not only can you get a loan for anything you need, but investors get great incentives for providing loans.</p>
                </div>

                <div class="medium-6 column">
                    <blockquote>So easy it was a no-brainer, I was able to get a loan to make those home improvements I’ve been wanting!</blockquote>
                    <cite>Chelsea P.</cite>
                </div>

            </div>


            <div class="row">

                <div class="medium-4 column">

                    <div class="thumb">
                        <div class="img">
                            <img src="//placehold.it/150x150" alt="">
                        </div>
                        <div class="txt">
                            <h5>Crowd Funded Investments</h5>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                        </div>
                    </div>

                </div>

                <div class="medium-4 column">

                    <div class="thumb">
                        <div class="img">
                            <img src="//placehold.it/150x150" alt="">
                        </div>
                        <div class="txt">
                            <h5>Crowd Funded Investments</h5>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                        </div>
                    </div>

                </div>

                <div class="medium-4 column">

                    <div class="thumb">
                        <div class="img">
                            <img src="//placehold.it/150x150" alt="">
                        </div>
                        <div class="txt">
                            <h5>Crowd Funded Investments</h5>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                        </div>
                    </div>

                </div>

            </div>


        </div><!-- /left-column -->
        <!-- right column -->
        <aside class="medium-4 column sidebar">

            <header class="sidebar-header">
                <h3>Getting Started is Easy</h3>
            </header>

            <div class="sidebar-content">
                <h4>Start by Creating a Profile</h4>
                <p>Who needs bulky registration? All you need to do is enter an email address and create a password for your TrustFund account.  It’s THAT simple!</p>

                <fieldset>
                    <label for="">Email Address<input type="text"></label>
                    <label for="">Create a Password<input type="password"></label>
                </fieldset>

                <h4>What are you looking to do?</h4>

                <ul class="radios">
                    <li><label for=""><input type="radio" /> Borrow</label></li>
                    <li><label for=""><input type="radio" /> Lend</label></li>
                </ul>

                <button class="button">Let's Go!</button>

            </div>

        </aside><!-- /right-column -->

    </div>



    <div class="row">


        <div class="medium-4 column">

            <div class="thumb">
                <div class="img"><a href="#"><img src="//placehold.it/200x200" alt=""></a></div>
                <div class="txt">
                    <h4>How to Tackle a Renovation</h4>
                    <p>With Trustfund’s secure social funding platform, not only can you get a loan for anything you need, but investors get great incentives to loaning.</p>
                </div>
            </div>

        </div>

        <div class="medium-4 column">

            <div class="thumb">
                <div class="img"><a href="#"><img src="//placehold.it/200x200" alt=""></a></div>
                <div class="txt">
                    <h4>How to Tackle a Renovation</h4>
                    <p>With Trustfund’s secure social funding platform, not only can you get a loan for anything you need, but investors get great incentives to loaning.</p>
                </div>
            </div>

        </div>


        <div class="medium-4 column">

            <div class="thumb">
                <div class="img"><a href="#"><img src="//placehold.it/200x200" alt=""></a></div>
                <div class="txt">
                    <h4>How to Tackle a Renovation</h4>
                    <p>With Trustfund’s secure social funding platform, not only can you get a loan for anything you need, but investors get great incentives to loaning.</p>
                </div>
            </div>

        </div>


    </div>



    <div class="row stripe">


        <div class="medium-12 column">

            <div class="row">

                <div class="medium-12 column">
                    <div class="big-quote">
                        <blockquote>The latest way to lend and borrow...and it works GREAT!</blockquote>
                        <cite>Stephen Penn, Wired Magazine</cite>
                    </div>

                </div>

            </div>

            <div class="row">

                <div class="medium-12 column">

                    <ul class="inline">
                        <li><img src="//placehold.it/100x50" alt=""></li>
                        <li><img src="//placehold.it/100x50" alt=""></li>
                        <li><img src="//placehold.it/100x50" alt=""></li>
                        <li><img src="//placehold.it/100x50" alt=""></li>
                        <li><img src="//placehold.it/100x50" alt=""></li>
                    </ul>

                </div>

            </div>


        </div>


    </div>



    <div class="row">


        <div class="medium-6 column">

            <div class="video">
                <a href="#">
                    <h3>Who knew paying off school loans can be this easy!</h3>
                    <hr>
                    <p>Learn how Michael was able to easily plan to pay off his student loans.  With 2% interest, TrustFund was able to offer even BETTER rates for Michael.</p>
                    <p><i class="ico-play"></i></p>
                </a>
            </div>

        </div>


        <div class="medium-6 column">

            <div class="video">
                <a href="#">
                    <h3>Who knew paying off school loans can be this easy!</h3>
                    <hr>
                    <p>Learn how Michael was able to easily plan to pay off his student loans.  With 2% interest, TrustFund was able to offer even BETTER rates for Michael.</p>
                    <p><i class="ico-play"></i></p>
                </a>
            </div>

        </div>


    </div>



    <footer class="footer">


        <div class="row">

            <div class="medium-8 column">

                <nav class="footer-nav">
                    <ul class="menu">
                        <li>
                            <h6><a href="#">About TrustFund</a></h6>
                            <ul>
                                <li><a href="#">Our Founders</a></li>
                                <li><a href="#">How we keep you secure</a></li>
                                <li><a href="#">Terms &amp; Conditions</a></li>
                                <li><a href="#">How we use your information</a></li>
                                <li><a href="#">How do we get our rates</a></li>
                            </ul>
                        </li>
                        <li>
                            <h6><a href="#">Support</a></h6>
                            <ul>
                                <li><a href="#">Help Center</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Legal</a></li>
                                <li><a href="#">Developers</a></li>
                                <li><a href="#">Careers</a></li>
                            </ul>
                        </li>
                        <li>
                            <h6><a href="#">Navigation</a></h6>
                            <ul>
                                <li><a href="#">Personal Loans</a></li>
                                <li><a href="#">Business Loans</a></li>
                                <li><a href="#">Personal Lending</a></li>
                                <li><a href="#">Business Lending</a></li>
                                <li><a href="#">About</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>

                <p>&copy; Copyright 2016. TrustFund. All rights reserved.</p>

            </div>

            <div class="medium-4 column">

                <div class="social">
                    <h6>Follow us</h6>
                    <ul class="social-nav menu">
                        <li><a href="#"><i class="ico-">Instagram</i></a></li>
                        <li><a href="#"><i class="ico-">Twitter</i></a></li>
                        <li><a href="#"><i class="ico-">Facebook</i></a></li>
                        <li><a href="#"><i class="ico-">LinkedIn</i></a></li>
                    </ul>
                </div>

                <div class="subscribe">
                    <h6>Sign up to receive updates</h6>
                    <fieldset>
                        <label for="">
                            Email Address
                            <input type="text">
                            <button class="button">Submit</button>
                        </label>
                    </fieldset>
                </div>

            </div>

        </div>

    </footer>




    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/what-input/what-input.js"></script>
    <script src="bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="js/app.js"></script>
</body>
</html>

